.jumbotron {
    background-color: #ebcccc;
}

#container-main {
    background-color: #ce8483;
}

#main-body {
    background-color: #f2dede;
}

.cent-head {
    text-align: center;
}

.cent-elements {
    text-align: center;
}

#newlabel {
    background-color: #f6c248;
}
.plates {
    font-size: large;
}